<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Lo sabía
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding:70%;">
  </div>
  <p id="holi">Parrafo</p>
  <button ion-button (click) = "showAlert()" icon-start large round color="dark">
    <ion-icon name="star"></ion-icon>
    Dale clic
  </button>
  <!-- IDEA: <ion-back-button routerLink="/home" routerDirection="root">Regresar
  </ion-back-button> -->
</ion-content>
