#container {
  text-align: center;
  position: fixed;
  left: 20%;
  right: 0;
  margin-top: 30%;
}

#bodi {
  --background: url("/assets/icon/harrypotter_vertical.jpg") 0 0/100% 100% no-repeat;
}

strong {
  font-size: 40px;
  line-height: 40px;
  padding-left: 5%;
}

#pregunta {
  font-family: 'Pacifico', sans-serif;
  color: #445aeb;
  text-shadow: 2px 2px #fff;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.ion-color-new {
  --ion-color-base: var(--ion-color-new);
  --ion-color-base-rgb: var(--ion-color-new-rgb);
  --ion-color-contrast: var(--ion-color-new-contrast);
  --ion-color-contrast-rgb: var(--ion-color-new-contrast-rgb);
  --ion-color-shade: var(--ion-color-new-shade);
  --ion-color-tint: var(--ion-color-new-tint);
}

.titulo {
  color: #eb445a;
  font-size: 20px;
  font-family: 'Pacifico';
  padding-left: 1.2rem;
}
