<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      ¡Fulanita me encantas!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="bodi">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="titulo">
        ¡Fulanita me encantas!
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="position:absolute; text-align:center;">
    <br>
    <strong id="pregunta" class="shine">
      ¿Quieres andar conmigo?
    </strong>
  </div>

  <div style="margin-bottom:7rem;"></div>

  <div id="container">
    <div style="position:fixed;">
      <ion-button size="large" color="new" href="/contact">
        Sí
      </ion-button>
    </div>

    <div id="boton">
      <ion-button size="large" color="danger" (click)="mover()">No</ion-button>
    </div>

  </div>
  <!-- IDEA:
  <div id="boton">
    <button ion-button (click) = "mover()">
      Dale clic
    </button>
  </div>
 -->
</ion-content>
